{% extends 'user_app/base.html' %}
{% load static %}

        {% block body_block %}
            <div class="container">
                {% if registered %}
                    <h1>Thanks for registering!!!</h1>
                {% else %}
                    <h1>Register here!</h1>
                    <h3>Fill Out Form here:</h3>
                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {{ user_form.as_p }}<br><br>
                        {{ profile_form.as_p }}
                        <input type="submit" class="btn btn-primary" value="Register">
                    </form>
                {% endif %}
            </div>
        {% endblock %}